/* Global Rules */
:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --main-transition: .5s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px

    }
}
@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start header */

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/challenge-seven/images/bg-desktop.svg);
    background-size: 100%;
    background-color: var(--Violet);
    background-repeat: no-repeat;
}
header {
    height: 100px;
    padding-top: 30px;
}

main {
    display: flex;
    margin: 30px auto;
}
main  .mockups {
    min-width: 60%;
}
main .mockups img {
    max-width: 100%;
}
main .details  {
    padding: 30px;
    
    
}
main .details h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}
main .details p  {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.808);
    margin: 15px 0;
}
main .details a {
    background-color: #fff;
    color: var(--Violet);
    padding: 10px;
    display: block;
    margin: 30px 0;
    width: 170px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    
}
main .details a:hover {
    background-color: var(--Soft-Magenta);
    color: #fff;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
footer a {
    width: 40px;
    height: 40px;
    transition: var(--main-transition);
}
footer a:hover {
    transform: translateY(-10px);
}
footer a {
    width: 40px;
    height: 40px;
}
footer a i {
    color: #fff;
    font-size: 30px;
    
}
footer a:hover i {
    color: var(--Soft-Magenta);
}
@media (max-width: 767px ) {
    body  {
    background-image: url(/challenge-seven/images/bg-mobile.svg);
   }
   header img {
    width: 150px;
   }
    main  {
        flex-direction: column;
        justify-content: center;
    }
    main .mockups {
        width: 100%;
    }
    main .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

    }
    main .details h1 {
        font-size: 18px;
    }
    main .details p {
        font-size: 14px;
    }
    footer {
        justify-content: center;
    }
}
